{{ define "main" }}

<!-- Main page -->
<section class="section-sm">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto text-center">
        <h1>Comprar una Guitarra</h1>
        <br/>
        <div class="content">
          <p>Bienvenido a Comprar una Guitarra. Si has llegado hasta aquí seguramente sea porque quieres <strong>empezar a tocar la guitarra</strong> y el primer paso para ello, evidentemente, es comprar una <strong>guitarra eléctrica</strong> pero aquí ya te surgen muchas preguntas y dudas que te gustaría resolver antes de decidirte por un modelo u otro.</p>
          <p><img src="../../images/post/fender_stratocaster.jpg" alt="guitarra fender">
<img src="../../images/post/gibson-lespaul.jpg" alt="guitarra gibson"></p>

<h2 id="consejos-comprar-guitarra">Consejos para comprar una guitarra</h2>
Te voy a dar una serie de consejos que creo que pueden ser útiles para alguien que busca su primer instrumento.
<br/>
<br/>
<h3 id="guitarra-comoda">Comodidad</h3>

<p><strong>Tu primera guitarra debe ser cómoda</strong> y, preferiblemente, ligera. Piensa que vas a aprender a tocar un instrumento nuevo y, por tanto, no buscas lo mejor del mercado. Debes buscar una guitarra con la que te sientas cómodo y tengas ese feeling inicial adecuado para ir cogiendo destreza y movilidad con los dedos. Si te acaba gustando, de buen seguro pasado un tiempo querrás dar el salto a una guitarra mejor. Tranquilo, muchos han pasado por lo mismo.</li>
</p>

<h3 id="precio-guitarra">Precio de la guitarra</h3>
<p>Esta es una de las primeras cuestiones que deberás responder. Habrás podido comprobar como existe un rango amplísimo de <strong>precios</strong> en función de multitud de <strong>características y marcas</strong>. Mucha gente lo que recomienda es que tengas un <strong>presupuesto</strong>, y a partir de aquí busques aquellos modelos que se adapten a él y entre ellos te quedes con la que cumpla tus expectativas y aquí ya puedes tener en cuenta tus preferencias en cuanto a materiales, pastillas, estética o marca y qué guitarra te puedes permitir.</p>

<h3 id="diseño">Diseño de la guitarra</h3>
<p>A pesar de que la comodidad es un factor determinante a la hora de escoger una guitarra, no menos importante tiene que ser también el <strong>diseño</strong>. ¿Porqué deberías comprar una guitarra que no te gusta? el problema a veces está en que la guitarra que más te gusta no es ni mucho menos la más comoda, bien porque es muy pesada, bien porque el cuerpo es demasiado grande, el mástil es muy ancho, los dedos no deslizan bien por el mástil y te resulta incómodo llegar a los últimos trastes, etc.

<p>Por tanto, aquí es muy importante que busques un <strong>balance entre estética y comodidad</strong>. Por ejemplo, en mi caso a mi siempre me han gustado muchos los modelos explorer y las tipo les paul, sin embargo una epiphone les paul para mi gusto no es una tipo de guitarra que yo recomendaría para empezar. Con la explorer ya ni me lo plantearía. </p>

<p>Seguramente los modelos de tipo <strong>stratocaster y telecaster</strong> sean los más cómodos que hay, y si buscas algo tipo les paul, fuera de la propia Epiphone seguro que encuentras marcas con modelos más cómodos o cuerpos más finos. Busca y compara.</p>

<h3 id="probar-guitarra">A ser posible, pruébala</h3>

<p>Es verdad que para alguien que va a comprar <strong>su primera guitarra</strong> y que no sabe tocar, este apartado puede que no sea tan importante, pero es un consejo que siempre se debe dar.</p>

<p>Nunca vas a poder saber como te sientes con una guitarra si no te la has puesto encima antes, tan simple como eso.</p>
<p>Hoy en día hay multitud de webs en las que puedes comprar guitarras online, en esta misma web ofrezco enlaces externos a compras de guitarras, no voy a decirte que no compres una guitarra por internet porque tampoco sería un buen consejo, yo mismo he comprado guitarras por internet y por una buena suma de euros, y siempre he quedado muy satisfecho con la compra, pero es verdad que siempre es preferible echarle un vistazo de cerca antes y probarla en tienda, ya que todas lo permiten (o deberían).</p>

<h3 id="marcas-guitarra">Las marcas se pagan</h3>

<p>Como en cualquier producto la marca se paga y el <strong>precio de la guitarra</strong> subirá dependiendo de qué marcas estés mirando, y muchas veces, por modelos que no son mejores que los de otras marcas de menos renombre.</p>

<p>Existen marcas en el mercado con una <strong>relación calidad/precio</strong> muy superior a sus competidores, así que para tu primera guitarra creo que es mejor que te olvides de Fender y Gibson en los que pagaras mucho la marca y te centres en marcas con muy buenas prestaciones sin que el presupuesto se tenga que resentir, como por ejemplo <a href="/guitarras-yamaha">Yamaha</a> o <a href="/guitarras-cort">Cort</a>.</p>

<h3 id="componentes-guitarra">Algunos tips sobre componentes</h3>

<ul>
  <li>En guitarras de gama media/baja es preferible un puente de tipo fijo que no un puente flotante (Floyd Rose), ya que éste último tiende a perder más la afinación.</li>
  <li>A poder ser, es preferible que la guitarra tenga tanto pastillas simples como alguna doble. Te dará una mayor versatilidad y variedad de sonidos y estilos diferentes para tocar.</li>
  <li>Hay modelos de presupuesto bajo con push/pull coil incorporado, por ejemplo la Yamaha Pacifica 112v. Esto te permitirá separar la pastilla doble en simples y dotar a tu guitarra de aun más versatilidad.</li>
</ul>

<br/>
<br/>

<h2 id="que-encontraras-aqui">¿Qué más encontrarás aquí?</h2>
<p>Te ofrezco diferentes secciones donde podrás acceder a diferentes <strong>comparativas de guitarras</strong> en función de aquello que estés buscando, así como una sección de <strong>accesorios</strong> donde podrás encontrar diferentes subsecciones dedicadas a otros productos relacionados con la guitarra:
  <ul>
    <li><strong>Guitarras eléctricas baratas</strong> si lo que buscas es una <strong>guitarra de menos de 300 euros</strong></li>
    <li><strong>Secciones de marcas</strong> si tienes claro que marca quieres y quieres conocer diferentes modelos</li>
    <li><strong>Guitarras eléctricas para niños</strong> si lo que quieres es hacerle un regalo al peque de la casa</li>
    <li><strong>Accesorios</strong> si ya tienes una guitarra y lo que necesitas es algún tipo de accesorio para ella</li>
  </ul>
</p>

<h2 id="consulta secciones">Consulta nuestras secciones</h2>

    <div class="row">
      <div class="column" style="float: left; width: 33.33%; padding: 5px;">
        <a href="guitarras-baratas/">
          <img src="../../images/post/Ibanez_GRG_170dx_opt.png" alt="Guitarras electricas baratas. Comprar guitarra electrica por menos de 300 euros">
          <figcaption>Guitarras Eléctricas Baratas</figcaption>
        </a>
      </div>
      <div class="column" style="float: left; width: 33.33%; padding: 5px;">
        <a href="guitarras-electricas-niños/">
          <img src="../../images/post/guitarra-ninos-home.png" alt="Guitarras electricas para niños. Comprar guitarra infantil">
          <figcaption>Guitarras Eléctricas para Niños</figcaption>
        </a>
      </div>
      <div class="column" style="float: left; width: 33.33%; padding: 5px;">
        <a href="guitarras-yamaha/">
          <img src="../../images/post/yamaha-pacifica-112v_opt.png" alt="Comprar guitarra electrica yamaha. yamaha pacifica 112v">
          <figcaption>Guitarras Eléctricas Yamaha</figcaption>
        </a>
      </div>
      <div class="column" style="float: left; width: 33.33%; padding: 5px;">
        <a href="guitarras-ltd/">
          <img src="../../images/post/ltd-ec-1000.png" alt="Comprar guitarras electricas ltd. guitarras esp metallica">
          <figcaption>Guitarras eléctricas ESP LTD</figcaption>
        </a>
      </div>
      <div class="column" style="float: left; width: 33.33%; padding: 5px;">
        <a href="guitarras-squier/">
          <img src="../../images/post/squier_affinity_stratocaster_opt.png" alt="Comprar guitarras squier. guitarras fender squier">
          <figcaption>Guitarras eléctricas Squier</figcaption>
        </a>
      </div>
      <div class="column" style="float: left; width: 33.33%; padding: 5px;">
        <a href="guitarras-cort/">
          <img src="../../images/post/cort_cr_100_opt.png" alt="Comprar guitarra electrica Cort. guitarra electrica Cort CR250">
          <figcaption>Guitarras eléctricas Cort</figcaption>
        </a>
      </div>
    </div>

        </div>
      </div>
    </div>
  </div>
</section>
<!-- /main page-->
{{ end }}