{{ define "main" }}

<!-- Main page -->
<section class="section-sm">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto text-center">
        <h1>Comprar una Guitarra</h1>
        <br/>
        <div class="content">
          <p>Bienvenido a Comprar una Guitarra, la web donde podrás encontrar las mejores reviews de las guitarras más vendidas, información y comparativas de todo
          tipo de accesorios musicales y una sección dedicada al equipamiento de los mejores guitarristas del mundo.

          <p><img src="../../images/post/fender_stratocaster.jpg" alt="guitarra fender">
<img src="../../images/post/gibson-lespaul.jpg" alt="guitarra gibson"></p>

&nbsp;

<h2 id="consulta secciones">Nuestras secciones</h2>
<div>Te presentamos las diferentes secciones que puedes encontrar en nuestra web.</div>
&nbsp;
	&nbsp;  
	<h3>Las mejores marcas</h3>
	<div class="column" style="float: left; width: 33.33%; padding: 5px;">
      <a href="guitarras-cort/">
        <img src="../../images/post/cort_cr_100_opt.png" alt="las mejores guitarras cort">
        <figcaption>Guitarras Cort</figcaption>
      </a>
    </div>
    <div class="column" style="float: left; width: 33.33%; padding: 5px;">
      <a href="guitarras-epiphone/">
        <img src="../../images/epiphone/epiphone-sg-standard-cherry-menu.jpg" alt="las mejores guitarras epiphone">
        <figcaption>Guitarras Epiphone</figcaption>
      </a>
    </div>
    <div class="column" style="float: left; width: 33.33%; padding: 5px;">
      <a href="/ltd/">
        <img src="../../images/post/ltd-ec-1000.png" alt="las mejores guitarras ltd">
        <figcaption>Guitarras LTD</figcaption>
      </a>
    </div>
    <div class="column" style="float: left; width: 50%; padding: 5px;">
      <a href="guitarras-squier/">
        <img src="../../images/post/squier_affinity_stratocaster_opt.png" alt="las mejores guitarras squier">
        <figcaption>Guitarras Squier</figcaption>
      </a>
    </div>
    <div class="column" style="float: left; width: 50%; padding: 5px;">
      <a href="guitarras-yamaha/">
        <img src="../../images/post/yamaha-pacifica-112v_opt.png" alt="las mejores guitarras yamaha">
        <figcaption>Guitarras Yamaha</figcaption>
      </a>
    </div>
</div>
<div>
	&nbsp;
	<h3>Accesorios musicales</h3>
	<div class="column" style="float: left; width: 33.33%; padding: 5px;">
      <a href="behringer-guitar-link/">
        <img src="../../images/post/behringer-guitar-link-menu.png" alt="Behringer Guitar Link ucg102">
        <figcaption>Behringer Guitar Link ucg102</figcaption>
      </a>
    </div>
    <div class="column" style="float: left; width: 33.33%; padding: 5px;">
      <a href="inlays/guitarra/">
        <img src="../../images/post/inlays-guitarra-menu.png" alt="los mejores inlays para guitarra">
        <figcaption>Inlays para guitarra</figcaption>
      </a>
    </div>
    <div class="column" style="float: left; width: 33.33%; padding: 5px;">
      <a href="microfonos-de-condensador/">
        <img src="../../images/post/microfonos-de-condensador-menu.png" alt="los mejores micrófonos de condensador">
        <figcaption>Micrófonos de condensador</figcaption>
      </a>
    </div>
    <div class="column" style="float: left; width: 50%; padding: 5px;">
      <a href="pastillas-para-guitarra/">
        <img src="../../images/pastillas/pastilla-humbucker.jpg" alt="las mejores pastillas para guitarra">
        <figcaption>Pastillas para guitarra</figcaption>
      </a>
    </div>
    <div class="column" style="float: left; width: 50%; padding: 5px;">
      <a href="puas-guitarra/">
        <img src="../../images/puas/puas-delrin.jpg" alt="las mejores puas de guitarra">
        <figcaption>Púas de guitarra</figcaption>
      </a>
    </div>
</div>
<div>
	&nbsp;  
	<h3>Guitarristas</h3>
	
	<div class="column" style="float: left; width: 50%; padding: 5px;">
      <a href="eddie-van-halen/">
        <img src="../../images/post/eddie-van-halen-menu.jpg" alt="Eddie Van Halen guitarras">
        <figcaption>Eddie Van Halen</figcaption>
      </a>
    </div>
    <div class="column" style="float: left; width: 50%; padding: 5px;">
      <a href="james-hetfield/">
        <img src="../../images/post/james-hetfield-menu.jpg" alt="James Hetfield guitarras">
        <figcaption>James Hetfield</figcaption>
      </a>
    </div>
    <div class="column" style="float: left; width: 50%; padding: 5px;">
      <a href="kirk-hammett/">
        <img src="../../images/post/kirk-hammett-menu.jpg" alt="Kirk Hammett guitarras">
        <figcaption>Kirk Hammett</figcaption>
      </a>
    </div>
    <div class="column" style="float: left; width: 50%; padding: 5px;">
      <a href="slash/">
        <img src="../../images/post/slash-menu.jpg" alt="Slash guitarras">
        <figcaption>Slash</figcaption>
      </a>
    </div>
    <div class="column" style="float: left; width: 100%; padding: 5px;">
      <a href="daron-malakian//">
        <img src="../../images/post/daron-malakian-menu.jpg" alt="Daron Malakian guitarras">
        <figcaption>Daron Malakian</figcaption>
      </a>
    </div>
</div>
<div>
	&nbsp;
	<h3>Listas de éxitos</h3>
	<div class="row">
      <div class="column" style="float: left; width: 33.33%; padding: 5px;">
        <a href="guitarras-electricas-baratas/">
          <img src="../../images/post/Ibanez_GRG_170dx_opt.png" alt="Guitarras electricas baratas. Comprar guitarra electrica por menos de 300 euros">
          <figcaption>Guitarras Eléctricas Baratas</figcaption>
        </a>
      </div>
      <div class="column" style="float: left; width: 33.33%; padding: 5px;">
        <a href="guitarras-para-ninos/">
          <img src="../../images/post/guitarra-ninos-home.png" alt="Guitarras electricas para niños">
          <figcaption>Guitarras Eléctricas para Niños</figcaption>
        </a>
      </div>
      <div class="column" style="float: left; width: 33.33%; padding: 5px;">
        <a href="guitarras-en-miniatura/">
          <img src="../../images/post/guitarras-en-miniatura-menu.png" alt="Guitarras en miniatura">
          <figcaption>Guitarras en miniatura</figcaption>
        </a>
      </div>
      <div class="column" style="float: left; width: 50%; padding: 5px;">
        <a href="guitarra-pequena-cuatro-cuerdas/">
          <img src="../../images/post/guitarra-pequena-cuatro-cuerdas-menu.jpg" alt="Guitarras pequeñas de cuatro cuerdas">
          <figcaption>Guitarras pequeñas de cuatro cuerdas</figcaption>
        </a>
      </div>
      <div class="column" style="float: left; width: 50%; padding: 5px;">
        <a href="guitarras-musicales/">
          <img src="../../images/post/guitarras-musicales-de-juguete-menu.png" alt="Guitarras musicales de juguete para niños y bebes">
          <figcaption>Guitarras musicales de juguete</figcaption>
        </a>
      </div>
    </div>
</div>
<div>
    

        </div>
      </div>
    </div>
  </div>
</section>
<!-- /main page-->
{{ end }}