{{ define "main" }}

<!-- Main page -->
<section class="section-sm">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto text-center">
        <h2>Comprar una guitarra. Por dónde empezar</h2>
        <br/>
        <div class="content">
          <p><img src="../../images/post/fender_stratocaster.jpg" alt="guitarra fender">
<img src="../../images/post/gibson-lespaul.jpg" alt="guitarra gibson"></p>
<h3 id="fender-o-gibson">Fender o Gibson</h3>
<!-- raw HTML omitted -->
<p>Tanto si eres de los que ahora se quiere aprender los <strong>acordes de resistiré</strong> como si eres de los que ya no puede más con ella, si has caído aquí seguramente sea porque eres nuevo en esto de la música y te estás planteando dar el paso para comprarte una guitarra y empezar a tocar tus primeros acordes. Pensando en guitarras eléctricas, seguramente <strong>Fender</strong> y <strong>Gibson</strong> sean las típicas que te vengan a la cabeza.</p>
<p>Ciertamente son las dos marcas más conocidas (y tal vez exitosas) de guitarra, pero en los siguientes minutos intentaré mostrarte, no solo que hay mucha vida más allá de ellas, sino que probablemente caigas en un error en pensar en estas marcas si lo que te planteas es comprarte una guitarra para aprender a tocar este maravilloso instrumento. Si tu pregunta es <strong>qué guitarra comprar</strong>, te intentaré ayudar a responderla.</p>
<h3 id="cuánto-dinero-me-gasto">Presupuesto para una guitarra</h3>
<p>Esta es una de las primeras preguntas que deberás responder. Habrás podido comprobar como existe un rango amplísimo de precios en función de multitud de características y marcas. Mucha gente lo que recomienda es que tengas un presupuesto, y a partir de aquí busques aquellos modelos que se adapten a tu presupuesto y entre ellos te quedes con la que cumpla tus expectativas y aquí ya puedes tener en cuenta tus preferencias en cuanto a materiales, pastillas, estética o marca y qué guitarra te puedes permitir.</p>
<h3 id="qué-te-ofrezco-a-continuación">Recomendaciones de guitarras</h3>
<p>Lo que voy a ofrecerte a partir de aquí son una serie de recomendaciones de guitarras según su rango de precio. Voy a intentar darte alternativas de algunas guitarras que, dentro de su gama de precios, están bien consideradas y pueden ser opciones a tener en cuenta para ayudar a decidirte en caso de que busques una guitarra de gama media/baja pero sin por ello renunciar a tener un primer instrumento con una calidad más que aceptable para su precio.</p>
    
    <div class="row">
      <div class="column" style="float: left; width: 33.33%; padding: 5px;">
        <a href="guitarras-baratas">
          <img src="../../images/post/squier_affinity_stratocaster_opt.png" alt="Guitarras baratas. Comprar guitarra por menos de 300 euros">
          <figcaption>Guitarras Eléctricas Baratas</figcaption>
        </a>
      </div>
      <div class="column" style="float: left; width: 33.33%; padding: 5px;">
        <a href="guitarras-yamaha">
          <img src="../../images/post/yamaha-pacifica-112v_opt.png" alt="yamaha pacifica 112v. Comprar guitarra electrica yamaha">
          <figcaption>Guitarras Eléctricas Yamaha</figcaption>
        </a>
      </div>
      <div class="column" style="float: left; width: 33.33%; padding: 5px;">
        <a href="guitarras-ltd">
          <img src="../../images/post/ltd-ec-1000.png" alt="ltd esp. Comprar guitarras ltd. guitarras metallica">
          <figcaption>Guitarras eléctricas ESP LTD</figcaption>
        </a>
      </div>
    </div>

        </div>
      </div>
    </div>
  </div>
</section>
<!-- /main page-->

{{ end }}