{{ define "main" }}

<section class="section-sm">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto text-center">
        
        <h1>Las 5 mejores guitarras baratas</h1>
        <br>
        <div class="content">
          <p>A continuación te presento una serie de recomendaciones de <strong>guitarras baratas</strong> por <strong>menos de 300€</strong>. Voy a intentar darte alternativas de algunas guitarras que, dentro de su gama de precios, están bien consideradas y pueden ser opciones a tener en cuenta para ayudarte a decidir en caso de que busques una guitarra de gama media/baja pero sin por ello renunciar a tener un primer instrumento con una calidad más que aceptable para su precio.</p>
<p>Una cosa a tener en cuenta antes de nada. La guitarra es importante, pero tanto o más lo es el amplificador sobre el que la hagas sonar. Sin un amplificador decente cualquier guitarra te sonara mal. Y aquí es muchas veces donde empiezan los problemas y algunas frustraciones. Vas a empezar a tocar en casa y no quieres empezar a atronar a los vecinos y que te llamen la atención, pero con un ampli básico seguramente no notes mucha diferencia entre una u otra y el sonido no te acabe de convencer y pienses, equivocadamente, que has tirado el dinero en la guitarra.</p>
<p>¿Qué puedes hacer? tranquilo hay soluciones para todo! pásate por la sección de <a href="/behringer-guitar-link">accesorios</a> y te contaré lo que yo uso en casa y que considero de las mejores compras que he hecho.</p>
<p>Pero no nos desviemos del tema y vamos al lio. Empecemos por las guitarras!</p>
<br/>
<!-- raw HTML omitted -->
<h2 id="yamaha-pacífica-012">1. Yamaha Pacífica 012</h2>
<p>Marca reconocida por hacer productos fiables y de una muy buena calidad/precio. La <strong>Yamaha Pacifica</strong> es un clásico y una referencia entre las guitarras de gama media/baja y suele aparecer entre las recomendaciones para principiantes. Es una guitarra muy cómoda y versátil, pudiendo sacar buenos sonidos, tanto limpios con sus pastillas simples como unas aceptables distorsiones con su pastilla doble si lo que te gusta es el Rock o incluso el metal. Su precio en tienda suele ser inferior a los 200€ por lo que si tu presupuesto es un poco superior, Yamaha dispone en su catálogo del modelo Yamaha Pacifica 112 que, siendo un poco más cara que su hermana pequeña, ofrece mejores prestaciones sin llegar a los 300€.</p>
<p><img src="../../images/post/yamaha_pacifica_012_opt.jpg" alt="guitarra yamaha pacifica 012 112"></p>
<!-- raw HTML omitted -->
<h3 id="características-yamaha-pacifica-012">Características de la Yamaha Pacifica 012</h3>
<ul>
<li>Cuerpo de Agathis</li>
<li>Puente trémolo estilo vintage</li>
<li>22 trastes de palosanto</li>
<li>4,2kg de peso</li>
<li>2 pastillas single coil y 1 humbucker en el puente con selector de 5 posiciones</li>
</ul>
<!-- raw HTML omitted -->
<table>
<thead>
<tr>
<th>Modelo</th>
<th align="left">Color</th>
<th align="left">Valoraciones</th>
<th align="left">Precio</th>
</tr>
</thead>
<tbody>
<tr>
<td>Yamaha Pacifica PA012</td>
<td align="left">negro</td>
<td align="left">4,4 sobre 5</td>
<td align="left"><a href="https://amzn.to/3bLizRn" rel="nofollow" target="_blank">Ver producto</a></td>
</tr>
</tbody>
</table>

<br/>
<br/>
<!-- raw HTML omitted -->
<h2 id="ltd-mh-10">2. LTD MH-10</h2>
<p><strong>LTD</strong> es la segunda marca de la prestigiosa marca de guitarras <strong>ESP</strong>, referencia dentro del mundo del rock más duro. Grupos de la talla de <strong>Metallica</strong> han hecho famosas sus guitarras. Cuando hablamos de segundas marcas inevitablemente tenemos que tener en cuenta que los materiales no van a ser los mismos de la marca matriz, y mucho menos cuando hablamos, como es este caso, del modelo de la gama más baja de las LTD EC, así como tampoco el país de fabricación de la guitarra.</p>
<p>Dicho esto, hablar de LTD es hablar de fiabilidad y buena calidad, eso si, tienes que tener claro para qué quieres la guitarra. Si lo que quieres son sonidos limpios, tocar pop, etc. seguramente hayan mejores opciones, sin embargo, si lo que te gusta es el rock y el metal, son guitarras muy a tener en cuenta. Disponibles también modelos hermanos EC-10 y Viper 10</p>
<p><img src="../../images/post/LTD_MH_10_opt.png" alt="guitarra ltd esp ec 10 256 401 1000"></p>
<!-- raw HTML omitted -->
<h3 id="características-ltd-mh-10">Características de la LTD mh 10</h3>
<ul>
<li>Cuerpo de tilo</li>
<li>Mastil de arce</li>
<li>Puente Tune O Matic</li>
<li>24 trastes Extra Jumbo</li>
<li>Peso: 4,3kg</li>
<li>2 pastillas humbucker ESP Designed LH-100</li>
</ul>
<!-- raw HTML omitted -->
<table>
<thead>
<tr>
<th>Modelo</th>
<th align="left">Color</th>
<th align="left">Valoraciones</th>
<th align="left">Precio</th>
</tr>
</thead>
<tbody>
<tr>
<td>LTD MH-10</td>
<td align="left">negro</td>
<td align="left">4,5 sobre 5</td>
<td align="left"><a href="https://amzn.to/3bP0q5p" rel="nofollow" target="_blank">Ver producto</a></td>
</tr>
</tbody>
</table>

<br/>
<br/>
<!-- raw HTML omitted -->
<h2 id="squier-affinity-stratocaster">3. Squier Affinity Stratocaster</h2>
<p>Al igual que las LTD, las <strong>Squier </strong> una segunda marca, en este caso de las legendarias <strong>Fender</strong>. Así como las LTD son recomendadas para sonidos más rudos por su configuración de pastillas, en el caso de la <strong>Squier Affinity</strong> es totalmente lo opuesto. Su electrónica con 3 pastillas single coil va más enfocada a sonidos más versátiles, limpios o blueseros que los de la LTD, por lo que aquí tendrás que tener en cuenta qué estilos te gustaría tocar para decantarte entre ámbos modelos. Probablemente ésta sea una guitarra más versátil que la LTD, pero sin llegar a la versatilidad de la Yamaha.</p>
<p><img src="../../images/post/squier_affinity_stratocaster_opt.png" alt="guitarra fender squier stratocaster affinity bullet"></p>
<!-- raw HTML omitted -->
<h3 id="características-squier-affinity-stratocaster">Características de la Squier Affinity Stratocaster</h3>
<ul>
<li>Cuerpo de aliso</li>
<li>Mastil de arce</li>
<li>Puente trémolo vintage</li>
<li>21 trastes</li>
<li>Peso: 4,3kg</li>
<li>3 pastillas single coil</li>
</ul>
<!-- raw HTML omitted -->
<table>
<thead>
<tr>
<th>Modelo</th>
<th align="left">Color</th>
<th align="left">Valoraciones</th>
<th align="left">Precio</th>
</tr>
</thead>
<tbody>
<tr>
<td>Squier Affinity Stratocaster</td>
<td align="left">sunburst</td>
<td align="left">4,2 sobre 5</td>
<td align="left"><a href="https://amzn.to/2zixUf9" rel="nofollow" target="_blank">Ver producto</a></td>
</tr>
</tbody>
</table>

<br/>
<br/>
<!-- raw HTML omitted -->
<h2 id="ibanez-grg170dx">4. Ibanez GRG170DX</h2>
<p><img src="../../images/post/Ibanez_GRG_170dx_opt.png" alt="guitarra ibanez grg 170dx psnd2"></p>
<!-- raw HTML omitted -->
<h3 id="características-ibanez-grg170dx">Características de la Ibanez grg170dx</h3>
<ul>
<li>Cuerpo de álamo</li>
<li>Mastil de arce</li>
<li>Puente semiflotante con trémolo</li>
<li>24 trastes medium</li>
<li>Peso: 3,2kg</li>
<li>2 pastillas humbucker en cuello y puente y 1 pastilla single coil en la posición intermedia</li>
</ul>
<!-- raw HTML omitted -->
<table>
<thead>
<tr>
<th>Modelo</th>
<th align="left">Color</th>
<th align="left">Valoraciones</th>
<th align="left">Precio</th>
</tr>
</thead>
<tbody>
<tr>
<td>Ibanez GRG170DX</td>
<td align="left">negro</td>
<td align="left">4,2 sobre 5</td>
<td align="left"><a href="https://amzn.to/3bLQ0mL" rel="nofollow" target="_blank">Ver producto</a></td>
</tr>
</tbody>
</table>

<br/>
<br/>
<!-- raw HTML omitted -->
<h2 id="cort-cr-100">5. Cort CR 100</h2>
<p>Hablar de <strong>Cort</strong> es hablar de una marca contrastada con uno de los baremos calidad/precio mejores del mercado. Buen material, buenos acabados, buen sonido y muy ligera, apenas pesa 3kg!</p>
<p><img src="../../images/cort/cort-cr100.jpg" alt="guitarra cort cr 100"></p>
<!-- raw HTML omitted -->
<h3 id="características-cort-cr100">Características de la Cort CR 100</h3>
<ul>
<li>Cuerpo de caoba</li>
<li>Diapason de palorosa</li>
<li>Puente Tune O Matic</li>
<li>22 trastes</li>
<li>Peso: 3kg</li>
<li>2 pastillas humbucker Powersound PSLP-1F y PSLP-1R</li>
</ul>
<!-- raw HTML omitted -->
<table>
<thead>
<tr>
<th>Modelo</th>
<th align="left">Color</th>
<th align="left">Valoraciones</th>
<th align="left">Precio</th>
</tr>
</thead>
<tbody>
<tr>
<td>Cort CR 100</td>
<td align="left">negro</td>
<td align="left">3,9 sobre 5</td>
<td align="left"><a href="https://amzn.to/2yjOWcd" rel="nofollow" target="_blank">Ver producto</a></td>
</tr>
</tbody>
</table>

        </div>
      </div>
    </div>
  </div>
</section>

{{ end }}