<div class="col-lg-4">
  <!-- advertisement -->
  <div align="middle">
    <iframe src="https://rcm-eu.amazon-adsystem.com/e/cm?o=30&p=22&l=ur1&category=amu&banner=0EY0Z7JECWC4YZQ40QG2&f=ifr&linkID=766e00143433b9e01dd1a8b3cbe2601a&t=guitar0de-21&tracking_id=guitar0de-21" width="250" height="250" scrolling="no" border="0" marginwidth="0" style="border:none;" frameborder="0"></iframe>
  </div>

  &nbsp;
  
	<div class="widget">
  	{{ if .Site.Params.search.enable }}
	  	<div class="search pl-lg-4">	
	  		<form action="{{ .Site.BaseURL }}/search" class="h-100">
	         <input class="search-box px-4" id="search-query" name="s" type="search" placeholder="Contenido a buscar...">
	       	<button id="searchOpen" class="search-btn"><i class="ti-search"></i></button>
	       </form>
	   	</div>    
  	{{ end }}
  </div>

  
  <!-- category -->
  <div class="widget">
    <div class="widget-title h4">Categorías</div>
    {{- if isset .Site.Taxonomies "categories" }}
    {{- if not (eq (len .Site.Taxonomies.categories) 0) }}
    <ul class="list-unstyled">
      {{- range $name, $items := .Site.Taxonomies.categories }}
      <li><a
          href="{{ `categories/` | relLangURL }}{{ $name | urlize | lower }}">{{ $name | title | humanize }}</a>
      </li>
      {{- end }}
    </ul>
    {{- end }}
    {{- end }}
  </div>
  <!-- Tags -->
  <div class="widget">
    <div class="widget-title h4">Etiquetas</div>
    {{- if isset .Site.Taxonomies "tags" }}
    {{- if not (eq (len .Site.Taxonomies.tags) 0) }}
    <ul class="list-inline">
      {{- range $name, $items := .Site.Taxonomies.tags }}
      <li class="list-inline-item"><a class="d-block p-2 bg-primary text-white"
          href="{{ `tags/` | relLangURL }}{{ $name | urlize | lower }}">{{ $name | humanize }}</a></li>
      {{- end }}
    </ul>
    {{- end }}
    {{- end }}
  </div>
  <!-- social -->
  <div class="widget">
    <div class="widget-title h4">Social</div>
    <ul class="list-inline social-links">
      {{ range .Site.Params.social }}
      <li class="list-inline-item"><a href="{{ .link | safeURL }}" rel="nofollow noopener noreferrer" target="_blank"><i class="{{ .icon }}"></i></a></li>
      {{ end }}
    </ul>
  </div>
</div>
