<div class="col-lg-4">
  <!-- advertisement -->
  <div class="widget">
    <div class="widget-title h4">Remaster ya en preventa</div>
    <div align="middle">
      <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//rcm-eu.amazon-adsystem.com/e/cm?lt1=_blank&bc1=000000&IS2=1&bg1=FFFFFF&fc1=000000&lc1=0000FF&t=guitarsidebar-21&language=es_ES&o=30&p=8&l=as4&m=amazon&f=ifr&ref=as_ss_li_til&asins=B08X65NN27&linkId=5a80284e70ae63b45556ece15ee99a8f"></iframe>
    </div>
  </div>
  &nbsp
	<div class="widget">
  	{{ if .Site.Params.search.enable }}
	  	<div class="search pl-lg-4">	
	  		<form action="{{ .Site.BaseURL }}/search" class="h-100">
	         <input class="search-box px-4" id="search-query" name="s" type="search" placeholder="Contenido a buscar...">
	       	<button id="searchOpen" class="search-btn"><i class="ti-search"></i></button>
	       </form>
	   	</div>    
  	{{ end }}
  </div>

  
  <!-- category -->
  <div class="widget">
    <div class="widget-title h4">Categorías</div>
    {{- if isset .Site.Taxonomies "categories" }}
    {{- if not (eq (len .Site.Taxonomies.categories) 0) }}
    <ul class="list-unstyled">
      {{- range $name, $items := .Site.Taxonomies.categories }}
      <li><a
          href="{{ `categories/` | relLangURL }}{{ $name | urlize | lower }}">{{ $name | title | humanize }}</a>
      </li>
      {{- end }}
      <li><a href="/blog">Blog</a></li>
    </ul>
    {{- end }}
    {{- end }}
    <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//rcm-eu.amazon-adsystem.com/e/cm?lt1=_blank&bc1=000000&IS2=1&bg1=FFFFFF&fc1=000000&lc1=0000FF&t=guitarsidebar-21&language=es_ES&o=30&p=8&l=as4&m=amazon&f=ifr&ref=as_ss_li_til&asins=B01NBF0S2H&linkId=eb03aa054aace084cfd41843c04782e9"></iframe>
    </div>

  <!-- Tags -->
  <div class="widget">
    <div class="widget-title h4">Etiquetas</div>
    {{- if isset .Site.Taxonomies "tags" }}
    {{- if not (eq (len .Site.Taxonomies.tags) 0) }}
    <ul class="list-inline">
      {{- range $name, $items := .Site.Taxonomies.tags }}
      <li class="list-inline-item"><a class="d-block p-2 bg-primary text-white"
          href="{{ `tags/` | relLangURL }}{{ $name | urlize | lower }}">{{ $name | humanize }}</a></li>
      {{- end }}
    </ul>
    {{- end }}
    {{- end }}
  </div>
  <!-- social -->
  <div class="widget">
    <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//rcm-eu.amazon-adsystem.com/e/cm?lt1=_blank&bc1=000000&IS2=1&bg1=FFFFFF&fc1=000000&lc1=0000FF&t=guitarsidebar-21&language=es_ES&o=30&p=8&l=as4&m=amazon&f=ifr&ref=as_ss_li_til&asins=B096TJNHPS&linkId=d15909be7563e0a66477e02fdba8fcd5"></iframe>
  </div>
</div>
