{{ define "main" }}

<section class="section-sm">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto text-center">
        
        <h1>Behringer Guitar Link ‎ucg102</h1>
        <br>
        <div class="content">
          <p>Desde que descubrí <strong>Behringer Guitar Link ‎ucg102</strong> ya no he vuelto a recordar lo que es tener un <strong>amplificador</strong> en casa. Evidentemente, si vas a tocar en una banda o con amigos vas a necesitar un ampli, pero si vas a estar en casa y más si estas empezando en este mundillo, personalmente veo más interesante dedicar el presupuesto a comprar una guitarra un poco mejor que no dedicar un % a un ampli poco potente y de gama baja que además en casa no vas a poder sacarle partido y que te reste dinero para tu guitarra. Todo esto, evidentemente, bajo mi subjetivo punto de vista, para gustos no hay nada escrito.
          </p>

          <h2 id="qué-es-el-behringer-guitar-link">¿Qué es el Behringer Guitar Link?</h2>
          <p>Básicamente es una <strong>interfaz externa de audio</strong>, que te permite “sustituir” tu tarjeta de sonido integrada en tu PC por este aparato, de manera que la entrada y salida de sonido pasa a depender de este hardware en lugar de la de tu PC. Viene con un puerto USB que conectas directamente a tu PC y los drivers necesarios para su configuración. Simplemente debes conectar el cable de tu guitarra a la entrada de audio del <strong>Guitar Link</strong> y una salida de audio en la salida correspondiente (auriculares, altavoces, etc.), y lo mejor de todo es que la latencia es bajísima, uno de los puntos más fuertes que tiene.
          </p>
          <div><img src="../../images/post/behringer_guitar_link_opt.png" alt="behringer guitar link ucg102">
          </div>
          <div>
            <a href="https://amzn.to/3e8gvEN" class="btn" rel="nofollow" target="_blank">Ver Producto</a>
          </div>
          <br/>
          <h3 id="si-no-tengo-amplificador-como-simulo-un-sonido-concreto">¿Si no tengo amplificador como simulo un sonido concreto?</h3>
          <p>Para empezar, el <strong>Guitar Link</strong> viene con algunos <strong>presets</strong> de serie, pero necesitarás de algún software que procese el sonido que Guitar Link está haciendo llegar a tu ordenador. Si utilizas MAC puedes usar el <a href="https://www.apple.com/mac/garageband/">Garage Band</a>. En el caso de Windows tienes muchas alternativas. Yo utilizo <a href="https://www.native-instruments.com/en/products/komplete/guitar/guitar-rig-5-pro/">Guitar Rig 5</a> (es de pago pero dispone de una versión demo). Pero tienes muchas más opciones como Reaper o Audacity, por poner sólo dos ejemplos.</p>
        </div>
      </div>
    </div>
  </div>
</section>

{{ end }}