<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}es-ES{{ end }}">
    {{- partial "head.html" . -}}
    <body>
        {{- partial "preloader.html" . -}}
        {{- partial "header.html" . -}}
        {{- block "main" . }}{{- end }}
        {{- partial "footer.html" . -}}

        {{ "<!-- Main Stylesheet -->" | safeHTML }}
        {{ $styles := resources.Get "scss/style.scss" | toCSS | minify }}
        <link rel="stylesheet" href="{{ $styles.Permalink }}" media="screen" lazyload>

        <link rel="stylesheet" href="/plugins/cookie-consent-box/cookie-consent-box.min.css" media="screen">
        <link rel="stylesheet" href="/plugins/lazy-youtube-embed/lazy-youtube-embed.css" media="screen">
        <link rel="stylesheet" href="/plugins/themify-icons/themify-icons.css" media="screen">
    </body>
</html>